 <!-- <mat-list role="list" *ngFor="let loc of locations">
  <mat-list-item role="listitem">{{ loc.payload.doc.data().locationName }}</mat-list-item>
  <mat-divider></mat-divider>
 </mat-list> -->

 <!-- <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist" *ngFor="let loc of locations">
      <a class="list-group-item list-group-item-action active" id="list-{{loc.payload.doc.data().locationName}}-list" data-toggle="list" href="#list-{{loc.payload.doc.data().locationName}}" role="tab" aria-controls="{{loc.payload.doc.data().locationName}}">{{loc.payload.doc.data().locationName}}</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent" *ngFor="let loc of locations">
      <div class="tab-pane fade show active" id="list-{{loc.payload.doc.data().locationName}}" role="tabpanel" aria-labelledby="list-{{loc.payload.doc.data().locationName}}-list">{{loc.payload.doc.data().locationLatitude}}, {{loc.payload.doc.data().locationLongitude}}</div>
    </div>
  </div>
</div> -->

<div class="accordion" id="accordionExample">
  <div class="card" *ngFor="let loc of locations">
    <div class="card-header" [attr.id]="'heading-'+loc.payload.doc.data().locationName">
      <h2 class="mb-0">
        <button class="btn btn-block text-left" type="button" data-toggle="collapse" [attr.data-target]="'#collapse-'+loc.payload.doc.data().locationName" aria-expanded="true" [attr.aria-controls]="'collapse-'+loc.payload.doc.data().locationName">
          {{loc.payload.doc.data().locationName}}
        </button>
      </h2>
    </div>

    <div [attr.id]="'collapse-'+loc.payload.doc.data().locationName" class="collapse" [attr.aria-labelledby]="'heading-'+loc.payload.doc.data().locationName" data-parent="#accordionExample">
      <div class="card-body">
        {{loc.payload.doc.data().locationCoordinates}}
      </div>
    </div>
  </div>

</div>

 <mat-divider class="pb-5"></mat-divider>
 <form [formGroup]="this.locService.form">
   
  <div class="form-group">
    <input placeholder="Name" formControlName="locationName" type="text" class="form-control" #name>
  </div>
   <div class="form-group">
    <div class="input-group">
      <input placeholder="Coordinates" formControlName="locationCoordinates" type="text" class="form-control" #coordinates>
      <span class="input-group-append bg-white border-left-0">
          <span class="input-group-text bg-transparent">
            <i class="fas fa-info-circle" data-toggle="tooltip" title="double click on map to copy coordinates"></i>
          </span>
      </span>
  </div>
  </div>
   <button class="btn btn-primary" type="submit" *ngIf='name.value != "" && coordinates.value != "" ' (click)="onSubmit()">
    submit
   </button>
 </form>
