.card{
    background-color: transparent;
}
.btn{
    color: white;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

a:hover,
a:active{
    color: darkgrey;
    text-decoration: none;
    animation: 3s ease-in-out ;
}
.card-body {
    background-color: rgba(194, 24, 91, 0.5);
    border-radius: 5px;
    position: relative;
}
h2 button:focus{
    box-shadow: none!important;
    /* color: rgba(194, 24, 91, 1)!important; */
}
h2 button {
    color: white!important;
}
h2 button .collapsed{
    color: rgba(194, 24, 91, 1)!important;
}
.external{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.horizontal-scroll{
    overflow: auto;
}

