.sparator-custom{
  background-color: var(--main-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.btn-fb{
  background-color: #2374E1;
}
.btn-g{
  background-color: #C4402F;
}
.btn-gh{
  background-color: #5D5D5D;
}
.btn-auth{
  color: white;
}
a{
  color: var(--main-color)
}
