<div class="container mt-3">
  <div class="text-center d-flex flex-column justify-content-center">
    <h3 class="justify-content-center pl-2">Login or <a routerLink="/register-user">Sign up</a></h3>
    <div class="row mt-3 justify-content-center">
      <div class="mt-2 col-md-2">
        <a class="btn btn-auth btn-fb btn-lg btn-block " data-toggle="tooltip" data-placement="top" title="Facebook"
          (click)="authService.FacebookAuth()">
          <i class="fa fa-facebook fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
      <div class="mt-2 col-md-2">
        <a class="btn btn-g btn-auth btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="Google"
          (click)="authService.GoogleAuth()">
          <i class="fa fa-google fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
      <div class="mt-2 col-md-2">
        <a class="btn btn-gh btn-auth btn-lg btn-block" data-toggle="tooltip" data-placement="top" title="GitHub"
          (click)="authService.GithubAuth()">
          <i class="fa fa-github fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
    </div><br>

    <div class="row justify-content-center">
      <div class="col-sm-6">
        <hr class="sparator-custom">
        <span>or</span>
        <hr class="sparator-custom">
      </div>
    </div>

    <div class="row mt-3 justify-content-center">
      <div class="col-sm-6">
        <form>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" style="margin-top: 10px;"></i></span>
            &nbsp;
            <input type="text" class="form-control" name="email" placeholder="Email" #userMail required>
          </div>
          <hr />

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key" style="margin-top: 10px;"></i></span>
            &nbsp;
            <input type="password" class="form-control" name="password" placeholder="Password" #userPassword required>
          </div>
          <hr />
          <button class="btn btn-lg btn-custom btn-block"
            (click)="authService.SignIn(userMail.value, userPassword.value)"><i class="fa fa-sign-in"></i>
            Login</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-3">
        <p class="mt-2">
          <a routerLink="/forgot-password">Forgot password?</a>
        </p>
      </div>
    </div>
  </div>
</div>
