#map {
    height: 100%;
    z-index: 0;
}
.hide{
    display: none;
    animation: 1s ease-in ;
}

.alert-fixed {
    position:absolute; 
    top: 1.5rem; 
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    z-index:9999; 

}