  <div class="container">
    <div class="d-flex flex-column align-items-center mt-3">
      <h2>Reset Password</h2>
    
      <p class="text-center">Please enter your email address to request a password reset</p>
  
      <form class="d-flex flex-column align-items-center">
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
    
        <!-- Calling ForgotPassword from AuthService Api -->
        
        <button type="submit" class="btn btn-secondary m-3" (click)="authService.ForgotPassword(passwordResetEmail.value)">Send Email</button>
        
      </form>
      <div class="redirectToLogin">
        <span>Go back to <a class="redirect" routerLink="/sign-in">Log In</a>?</span>
      </div>
    </div>
  </div>