  <div class="container ">
    <div class="d-flex flex-column align-items-center">
      <h3>Reset Password</h3>
    
      <p>Please enter your email address to request a password reset.</p>
  
      <form class="d-flex flex-column align-items-center">
        <div class="formGroup">
          <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
        </div>
    
        <!-- Calling ForgotPassword from AuthService Api -->
        
        <button type="submit" class="btn btn-secondary mt-2" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        
      </form>
      <div class="redirectToLogin">
        <span>Go back to <a class="redirect" routerLink="/sign-in">Log In</a>?</span>
      </div>
    </div>
  </div>