<div class="alert alertCoord alert-danger hide alert-fixed" role="alert">
  Add a name and coordinates to create location
</div>
<div class="container p-5">
  <h2 class="text-center">Create New Location</h2>
  <form [formGroup]="this.locService.form">
    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" placeholder="Name" formControlName="locationName" type="text" class="form-control" autofocus
        #name required>
    </div>
    <div class="form-group">
      <label for="coordinates">Coordinates</label>
      <div class="input-group">
        <input id="coordinates" placeholder="Latitude and Longitude" formControlName="locationCoordinates" type="text"
          class="form-control" #coordinates required>
        <span class="input-group-append bg-white border-left-0">
          <span class="input-group-text bg-transparent">
            <a data-toggle="tooltip" data-placement="top" title="double click on map to copy coordinates"><i
                class="fas fa-info-circle"></i></a>
          </span>
        </span>
      </div>
    </div>
    <div class="form-group" *ngIf="online == true">
      <label for="Images">Images</label>
      <input class="form-control" id="Images" type="file" (change)="upload($event)" accept="*.png.jpg.jpeg" multiple
        required />
    </div>
    <div class="form-group" *ngIf="online == false">
      <label for="Images">Images</label>
      <p class="text-center text-uppercase">cannot upload images while offline, connect to internet or upload later in
        update!</p>
    </div>
    <div class="form-group mt-5">
      <label for="Description">Description</label>
      <textarea placeholder="Tell us more about this place" class="form-control" formControlName="locationDescription"
        id="Description" rows="3" #description required></textarea>
    </div>

    <div class="form-group">
      <label for="Equipments">Equipment</label>
      <div class="form-row">
        <div class="col mb-1">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-check" *ngFor="let eq of equipmentList ; let i = index;">
                <div *ngIf="i % 2 == 0">
                  <input class="form-check-input" (change)="updateExs($event)" type="checkbox" attr.id="{{eq}}"
                    attr.value="{{eq}}">
                  <label class="form-check-label" attr.for="{{eq}}">{{eq}}</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-check" *ngFor="let eq of equipmentList ; let i = index;">
                <div *ngIf="i % 2 == 1">
                  <input class="form-check-input" (change)="updateExs($event)" type="checkbox" attr.id="{{eq}}"
                    attr.value="{{eq}}">
                  <label class="form-check-label" attr.for="{{eq}}">{{eq}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="Accesibility">Opening hours</label>
      <div class="input-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" checked type="radio" name="inlineRadioOptions" id="inlineRadio1"
            (click)="value = 'unlimited'">
          <label class="form-check-label" for="inlineRadio1">Always open</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            [checked]="value === 'limited'" (click)="value = 'limited'">
          <label class="form-check-label" for="inlineRadio2">Limited opening hours</label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="value === 'limited'">
      <textarea placeholder="When can you access this location ?" class="form-control" formControlName="locationAccess"
        id="Accesibility" rows="2" required></textarea>
    </div>

    <button class="btn btn-custom btn-lg btn-block text-white" (click)="onSubmit()">
      Create
    </button>
  </form>
</div>
