<div class="body px-3">
    <h1><i (click)="GoBack()" class="fas fa-chevron-left" style="font-size: 2rem; vertical-align: middle;"></i> {{name}}</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="row horizontal-scroll">
                <div class="d-flex flex-row detail-images" >
                  <img src="{{img}}" class="mt-4 mb-3 mx-1"
                    width="100%" *ngFor="let img of images">
                </div>
            </div>
            <div class="row">
                <div class="card w-100">
                    <div class="card-body">
                      <h2 class="card-title">Details</h2>
                      <h3>Address:</h3>
                      <p class="card-text">{{fullAddress}}</p>
                      <h3>Description:</h3>
                      <p class="card-text">{{description}}</p>
                      <h3>List of available exercises in this location:</h3>
                      <div class="d-flex justify-content-between flex-row">
                        <ul >
                          <li *ngFor="let ex of exercises" class="card-text">&nbsp; {{ex}}</li>
                        </ul>
                      </div>
                      <h3>Opening hours:</h3>
                      <p class="card-text">{{access}}</p>
                      <h3>This Location has been created by:</h3>
                      <p class="card-text">{{createdBy}}</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <app-review></app-review>
            </div>
        </div>
    </div>










