.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.body{
  margin: 1rem;
}

.dash-col{
  padding-right: 10px;
  padding-left: 10px;
}

.card{
  background-color: #3d3d3d;
}

.card-body{
  padding: 0.625rem;
}

.card{
  margin-bottom: 1rem;
}

.map-card{
  height: 85vh;
}

.card-title{
  text-align: center;
}


