<!-- 
<div class="body">
  <div class="row card-row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" >
          <app-map></app-map>
        </div>
      </div>
    </div>
  </div>
  <div class="row list-row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Locations</h2>
          <app-locations></app-locations>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Locations</h2>
          <app-locations></app-locations>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="body">
  <div class="row">
    <div class="col-md-8">
      <div class="card map-card">
        <div class="card-body" >
          <app-map></app-map>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Locations</h2>
          <app-locations></app-locations>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- <app-test></app-test> -->


