<div class="container p-5">
  <h2 class="text-center">Create New Location</h2>
  <form [formGroup]="this.locService.form">
    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" placeholder="Name" formControlName="locationName" type="text" class="form-control" #name>
    </div>
    <div class="form-group">
      <label for="coordinates">Coordinates</label>
      <div class="input-group">
        <input id="coordinates" placeholder="Latitude and Longitude" formControlName="locationCoordinates" type="text"
          class="form-control" #coordinates>
        <span class="input-group-append bg-white border-left-0">
          <span class="input-group-text bg-transparent">
            <a data-toggle="tooltip" data-placement="top" title="double click on map to copy coordinates"><i
                class="fas fa-info-circle"></i></a>
          </span>
        </span>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="Images">Images</label>
      <input class="form-control" id="Images" type="file" multiple />
    </div> -->
    <div class="form-group">
      <label for="Images">Images</label>
      <input class="form-control" id="Images" type="file" (change)="upload($event)" accept="*.png.jpg.jpeg" multiple />
      <!-- <button class="btn btn-custom" (click)="uploadImage()">upload image</button> -->
    </div>
    <div class="form-group">
      <label for="Description">Description</label>
      <textarea placeholder="Tell us more about this place" class="form-control" formControlName="locationDescription"
        id="Description" rows="3" #description></textarea>
    </div>

    <div class="form-group">
      <label for="Exercises">Exercises</label>
      <div class="form-row">
        <div class="col-md-11 mb-1">
          <select #ex class="form-select form-control form-select-lg" aria-label=".form-select-lg example">
            <option value="null" selected disabled>Select an exercise to add</option>
            <option value="Pull-up">Pull-up</option>
            <option value="Chin-up">Chin-up</option>
            <option value="Dips">Dips</option>
          </select>
        </div>
        <div class="col-md-1 d-flex justify-content-end  mb-1">
          <button class="btn btn-custom w-100 text-center p-0 text-white"
            (click)="addExercise(ex.options[ex.selectedIndex].value)">Add</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <ul class="customListStyle" *ngFor="let e of availableEx">
        <li #rmThis><i class="fas fa-times rm" (click)="removeEx(rmThis.innerHTML)" data-toggle="tooltip"
            data-placement="right" title="click to remove"></i>{{e}}</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="Accesibility">Openin hours</label>
      <div class="input-group">
        <div class="form-check form-check-inline">
          <input class="form-check-input" checked type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="value = 'unlimited'">
          <label class="form-check-label" for="inlineRadio1">Always open</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [checked]="value === 'limited'" (click)="value = 'limited'">
          <label class="form-check-label" for="inlineRadio2">Limited opening hours</label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="value === 'limited'">
      <textarea placeholder="When can you access this location ?" class="form-control" formControlName="locationAccess"
      id="Accesibility" rows="2" ></textarea>
    </div>

    <button class="btn btn-custom btn-lg btn-block text-white" type="submit" (click)="onSubmit()">
      Create
    </button>
  </form>
</div>
