<div class="container p-5">
    <h2 class="text-center">Create New Location</h2>
    <form [formGroup]="this.locService.form">
      <div class="form-group">
        <label for="location">Location</label>
        <input id="location" placeholder="Name" formControlName="locationName" type="text" class="form-control" #name>
      </div>
      <div class="form-group">
        <label for="coordinates">Coordinates</label>
        <div class="input-group">
          <input id="coordinates" placeholder="Latitude and Longitude" formControlName="locationCoordinates" type="text" class="form-control"
            #coordinates>
          <span class="input-group-append bg-white border-left-0">
            <span class="input-group-text bg-transparent">
              <a data-toggle="tooltip" data-placement="top" title="double click on map to copy coordinates"><i
                  class="fas fa-info-circle"></i></a>
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Images">Images</label>
        <input class="form-control" id="Images" type="file" multiple/>
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <textarea placeholder="Tell us more about this place" formControlName="locationDescription" class="form-control" id="Description" rows="3"></textarea>
      </div>
      
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-11 mb-1">
            <select #ex class="form-select form-control form-select-lg" aria-label=".form-select-lg example">
              <option value="null" selected disabled>Select an exercise to add</option>
              <option value="Pull-up">Pull-up</option>
              <option value="Chin-up">Chin-up</option>
              <option value="Dips">Dips</option>
              </select>
          </div>
          <div class="col-md-1 d-flex justify-content-end  mb-1">
            <button class="btn btn-custom w-100 text-center p-0 text-white" (click)="addExercise(ex.options[ex.selectedIndex].value)">Add</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <ul class="customListStyle" *ngFor="let e of availableEx">
          <li #rmThis><i class="fas fa-times rm" (click)="removeEx(rmThis.innerHTML)" data-toggle="tooltip" data-placement="right" title="click to remove"></i>{{e}}</li>
        </ul>
      </div>

      <button class="btn btn-custom btn-lg btn-block text-white" type="submit"
        (click)="onSubmit()">
        Create
      </button>
    </form>
</div>
