input[type="file"]{
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering:  left;
    cursor: pointer;
 }
 input[type="file"]::-webkit-file-upload-button{
    -webkit-appearance: none;
    float: right;
    border: 0px ;
    cursor: pointer;
    
 }

 .input-group-append{
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }

 /* .customListStyle{
    list-style: url('../../../assets/icons/rm.svg');
    
 } */

 ul {
   list-style: none; /* Remove default bullets */
 }
 
 ul li::before {
   content: url('../../../assets/icons/rm.svg');  /* Add content: \2022 is the CSS Code/unicode for a bullet */
   color: white; /* Change the color */
   font-weight: bold; /* If you want it to be bold */
   display: inline-block; /* Needed to add space between the bullet and the text */
   width: 0.6rem; /* Also needed for space (tweak if needed) */
   margin-left: -1rem; /* Also needed for space (tweak if needed) */
   margin-right: 1rem; /* Also needed for space (tweak if needed) */
 }